<form action="/horoscope/<%= horoscope._id %>" method="POST">
    <!-- <label for="sunSign">SunSign</label>
    <input type="text" name="sunSign" id="id"  value="<%= horoscope.sunSign %>">
  
    <label for="horoscope">Horoscope</label>
    <input type="text" name="horoscope" id="horoscope" value="<%= horoscope.horoscope %>">
  
    <label for="date">Date</label>
    <input type="text" name="date" id="date" value="<%= horoscope.date %>"> -->
  
    <label for="comments">Comments</label>
    <textarea type="text" name="comments" id="comments" value="<%= horoscope.comments%>"></textarea>
  
    <button type="submit">Update Horoscope</button>
</form>